\#*
.\#*
*.bak
*.Rd
*.rds
*.rdata
*.rs
*~
slurm*.out
**.yml.complete
*.pdf
*.swp
**.html

**/.Rproj.user
**/.Rhistory
**/.Renviron
**/psql_credential.txt
**/database_api_key.R

**.yml
!tests/**/*.yml
!.github/**/*.yml
!Analysis/R/test_case/**.yml

Analysis/Stan/*
!Analysis/Stan/*.stan

Analysis/configs/
Analysis/data/
Layers/
