\#*
.\#*
*.bak
*.Rd
*.rds
*.rdata
*~
slurm*.out
*.yml.complete
*.pdf
*.swp
*.html

**/.Rproj.user
**/.Rhistory
**/.Renviron

**.yml
!tests/**/*.yml
!Analysis/R/test_case/**.yml

Analysis/Stan/*
!Analysis/Stan/*.stan

packages/taxdat/tests/testthat/psql_credential.txt
packages/taxdat/R/database_api_key.R
Analysis/R/database_api_key.R
database_api_key.R

Analysis/configs/
Analysis/data/
Layers/
